@model IList<CommunityToolShedMvc.Models.Tool>
@{
    ViewBag.Title = "Tools";
}

<h2>@ViewBag.Title</h2>

<h3>Universal Tool List</h3>
<div id="Tools" style="width:40%">
    <table class="table border table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Condition</th>
                <th>Warnings</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tool in Model)
            {
                <tr>
                    <td>@tool.Name</td>
                    <td>@tool.OwnerName</td>
                    <td>@tool.ConditionName</td>
                    <td>@tool.Warnings</td>
                </tr>
            }
        </tbody>
    </table>
</div>